*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url(/img/landscape.jpg);
    background-size: cover;
    background-position: center;
}

header{
    height: 100vh;
    /* C'est tout la languer de mon encrant a  l'heure actuel */
    width: 100vw;
    background-image: url();
    /* Pourque ca couvre l'integraliter de l'ecrant */
    
}

.nav_bar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.nav_bar a{
    color: aliceblue;
}

.nav_bar .logo{
    font-size: 2rem;
    font-weight: bold
}

.nav_bar .nav_link ul{
    display: flex;

    margin: 0 20px;
}

.nav_bar .nav_link li{
    margin: 0 20px;
    transition: .3s;
}
.nav_bar .nav_link li:hover{
    font-size: 2rem;
    font-weight: bold;
}

.nav_bar .nav_link .home_nav{
    color: brown;
    font-weight: bold;
}

@media screen  and (max-width:900px) {
    .nav_link{
        display: none;
    }
}