*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

header{
    height: 100vh;
    /* C'est tout la languer de mon encrant a  l'heure actuel */
    width: 100vw;
    background-image: url(/img/landscape.jpg);
    /* Pourque ca couvre l'integraliter de l'ecrant */
    background-size: cover;
}

.nav_bar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.nav_bar a{
    color: aliceblue;
}

.nav_bar .logo{
    font-size: 2rem;
    font-weight: bold
}

.nav_bar .nav_link ul{
    display: flex;

    margin: 0 20px;
}
.nav_bar .nav_link li{
    margin: 0 20px;

}

.nav_bar .nav_link .home_nav{
    color: brown;
    font-weight: bold;
}